<!DOCTYPE html>
<html lang="en">
<head> 
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/app.css') }}" />

<meta charset="UTF-8">
<title>My Website - About</title>
</head>
<body>
    <img src="{{ url_for('static', filename='./messi.jpg') }}"/>
    <h1>Jared Chambers</h1>
    <p>My Name is Jared Chambers who is 21 years of age that is interested in cybersecuirty and in web development. I think this course is incredibly valuable to me as I believe that it will propel me to have a deep understanding and appreciation for web frameworks and just web development in general.</p>
</body>
</html>